name: Deploy to Github Pages

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Publish"]
    types:
      - completed

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: .

      - name: Generate directory listing
        uses: yKicchan/generate-directory-listing-action@v1
        with:
          target: "./"
      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./"
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: gh-pages
